<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Helping Hand</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../public/js/helpinghand.js"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="../../public/assets/Helping-Hand-Logo.png" height="50" class="d-inline-block align-top"
                alt="Helping Hand logo">
            Helping Hand
        </a>
    </nav>

    <section id="first-question">
        <div class="container-fluid">
            <h1>What do you need?</h1>
        </div>
        <div class="container">
            <img class="main-services" src="../../public/assets/food-icon.png" width="300px">
            <img class="main-services" src="../../public/assets/shelter-icon.png" width="300px">
        </div>
        <div class="container">
            <img class="main-services" src="../../public/assets/health-icon.png" width="300px">
            <img class="main-services" src="../../public/assets/daily-icon.png" width="300px">
        </div>
    </section>

    <section id="food-service">
        <div class="container-fluid">
            <h1>What kind of service are you looking for?</h1>
        </div>
        <div class="container">
            <button type="button" class="btn btn-secondary">Food Bank</button>
            <button type="button" class="btn btn-secondary">Served Meal</button>
        </div>
    </section>

    <section id="food-gender">
        <div class="container-fluid">
            <h1>Are you:</h1>
        </div>
        <div class="container">
            <button type="button" class="btn btn-secondary">Male</button>
            <button type="button" class="btn btn-secondary">Female</button>
            <button type="button" class="btn btn-secondary">Family Group</button>
        </div>
    </section>
    
    <section id="food-age">
        <div class="container-fluid">
            <h1>Are you:</h1>
        </div>
        <div class="container">
            <button type="button" class="btn btn-secondary">Age 17 or younger</button>
            <button type="button" class="btn btn-secondary">Age 18&ndash;25</button>
            <button type="button" class="btn btn-secondary">Age 26&ndash;40</button>
            <button type="button" class="btn btn-secondary">Age 41&ndash;54</button>
            <button type="button" class="btn btn-secondary">Age 55&ndash;64</button>
            <button type="button" class="btn btn-secondary">Age 65 and older</button>
        </div>
    </section>
</body>

</html>