<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/assets/Helping-Hand-Logo.png" height="50" class="d-inline-block align-top" alt="Helping Hand logo">
        Helping Hand
    </a>
    <form class="form-inline">
        <button class="btn btn-danger" type="button">Create a Profile</button>
        <a href="/submit"><button class="btn btn-danger" type="button">Add a Service Organization</button></a>
    </form>
</nav>

<section id="first-question">
    <div class="container-fluid">
        <h1>What do you need?</h1>
    </div>
    <div class="container">
        <button class="btn btn-icon" id="food"><img class="main-services" src="/assets/food-icon.png"
                width="300px"></button>
        <button class="btn btn-icon" id="shelter"><img class="main-services" src="/assets/shelter-icon.png"
                width="300px"></button>
    </div>
    <div class="container">
        <button class="btn btn-icon" id="health"><img class="main-services" src="/assets/health-icon.png"
                width="300px"></button>
        <button class="btn btn-icon" id="daily" type="submit" name="daily_care" value="1"><img class="main-services"
                src="/assets/daily-icon.png" width="300px"></button>
    </div>
</section>

<section id="food-service" style="display: none;">
    <div class="container-fluid">
        <h1>What kind of service are you looking for?</h1>
    </div>
    <div class="container">
        <button type="submit" class="btn btn-secondary" id="food-bank" value="food_bank">Food Bank</button>
        <button type="submit" class="btn btn-secondary" id="served-meal" value="served_meal">Served Meal</button>
    </div>
</section>

<section id="shelter-service" style="display: none;">
    <div class="container-fluid">
        <h1>What kind of service are you looking for?</h1>
    </div>
    <div class="container">
        <button type="submit" class="btn btn-secondary" id="immediate" value="shelter_immediate">Immediate
            Shelter</button>
        <button type="submit" class="btn btn-secondary" id="longer-term" value="shelter_longer_term">Longer-Term
            Shelter</button>
    </div>
</section>

<section id="health-service" style="display: none;">
    <div class="container-fluid">
        <h1>What kind of service are you looking for?</h1>
    </div>
    <div class="container">
        <button type="submit" class="btn btn-secondary" id="urgent" value="urgent_care">Urgent Care</button>
        <button type="submit" class="btn btn-secondary" id="dental" value="dental">Emergency Dental Care</button>
        <button type="submit" class="btn btn-secondary" id="mental" value="behavioral">Mental Health Care</button>
    </div>
</section>

<section id="gender" style="display: none;">
    <div class="container-fluid">
        <h1>Are you:</h1>
    </div>
    <div class="container">
        <div class="btn-group-vertical">
            <button type="submit" class="btn btn-secondary" id="male" value="male">Male</button>
            <button type="submit" class="btn btn-secondary" id="female" value="female">Female</button>
            <button type="submit" class="btn btn-secondary" id="family" value="families_youth">Family
                Group</button>
        </div>
    </div>
</section>

<section id="age" style="display: none;">
    <div class="container-fluid">
        <h1>How old are you?</h1>
    </div>
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Age</label>
                <input type="number" class="form-control form-control-lg mb-2" id="inlineFormInput" placeholder="18">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-dark btn-lg mb-2" id="age-submit" value="age">Submit</button>
            </div>
        </div>
    </form>
</section>

<script src="/js/food.js"></script>
<script src="/js/shelter.js"></script>
<script src="/js/health.js"></script>
<script src="/js/dailycare.js"></script>
<script src="/js/helpinghand.js"></script>