<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../public/assets/Helping-Hand-Logo.png" height="50" class="d-inline-block align-top"
            alt="Helping Hand logo">
        Helping Hand
    </a>
</nav>

<section>
    <div class="container-fluid">
        <h1>What do you need?</h1>
    </div>
    <div class="container">
        <img class="main-services" src="../../public/assets/food-icon.png" width="300px">
        <img class="main-services" src="../../public/assets/shelter-icon.png" width="300px">
    </div>
    <div class="container">
        <img class="main-services" src="../../public/assets/health-icon.png" width="300px">
        <img class="main-services" src="../../public/assets/daily-icon.png" width="300px">
    </div>
</section>