<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="../public/assets/Helping-Hand-Logo.png" height="50" class="d-inline-block align-top"
            alt="Helping Hand logo">
        Helping Hand
    </a>
    <form class="form-inline">
        <button class="btn btn-danger" type="button">Create a Profile</button>
        <button class="btn btn-danger" type="button">Add a Service Organization</button>
    </form>
</nav>

<section id="results">
    {{ results }}
</section>

<footer>
    <form class="form-inline">
        <button class="btn btn-secondary" type="button">View All Results</button>
        <button class="btn btn-secondary" type="button">Start Over</button>
    </form>
</footer>